<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERP.Properties.Settings.ERP" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Stores;Integrated Security=False;User ID=husam;Password=husam714;Connect Timeout=100" />
        <add name="ERP.Properties.Settings.Stores" connectionString="Data Source=.\sqlexpress;Initial Catalog=Stores;Persist Security Info=True;User ID=husam;Password=husam714"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>